@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --primary-dark-blue: hsl(233, 26%, 24%);
    --primary-lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --neutral-grayish-blue: hsl(233, 8%, 62%);
    --neutral-light-grayish-blue: hsl(220, 16%, 96%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
    --neutral-white: hsl(0, 0%, 100%);
}

body {
    font-size: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.arrow-up {
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    background: linear-gradient(to right, var(--primary-lime-green), var(--bright-cyan));
    padding: .2rem .4rem;
    z-index: 99;
    border-radius: 50%;
    transition: 100ms ease-in-out;
    
}

.arrow-up:hover {
    cursor: pointer;
    opacity: 0.7;
}



